* {
    margin: 0;
    padding: 0;
}

.btnStyle {
    padding: 10px 20px;
    font-weight: bold;
    color: black;    background-color: transparent;    
    border: 2px solid #AAB7B8;
    border-radius: 5px;
}
.btnStyle:hover {
    cursor: pointer;
    color: white;    background-color: #AAB7B8;    border: none;    
    font-weight: bold;
}